<div class="container">
    <h2>Edit Group</h2>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
      <div class="form-group">
        <label for="origine">Origine</label>
        <input type="text" class="form-control" id="origine" name="origine" [(ngModel)]="group.origine" required>
      </div>
      <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="group.ville" required>
      </div>
  
      <div class="form-group">
        <label for="anneeDebut">Année de début</label>
        <input type="number" class="form-control" id="anneeDebut" name="anneeDebut" [(ngModel)]="group.anneeDebut" required>
      </div>
  
      <div class="form-group">
        <label for="anneeSeparation">Année de séparation</label>
        <input type="number" class="form-control" id="anneeSeparation" name="anneeSeparation" [(ngModel)]="group.anneeSeparation">
      </div>
  
      <div class="form-group">
        <label for="fondateurs">Fondateurs</label>
        <input type="text" class="form-control" id="fondateurs" name="fondateurs" [(ngModel)]="group.fondateurs">
      </div>
  
      <div class="form-group">
        <label for="membres">Membres</label>
        <input type="number" class="form-control" id="membres" name="membres" [(ngModel)]="group.membres">
      </div>
  
      <div class="form-group">
        <label for="courantMusical">Courant Musical</label>
        <input type="text" class="form-control" id="courantMusical" name="courantMusical" [(ngModel)]="group.courantMusical">
      </div>
  
      <div class="form-group">
        <label for="presentation">Présentation</label>
        <textarea class="form-control" id="presentation" name="presentation" [(ngModel)]="group.presentation"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>